<div class="create-container">
  <form [formGroup]="therapistForm" (ngSubmit)="createTherapist()" novalidate>
    <div class="row">
      <div class="col-label">
        <label for="new-therapist-full Name">Full Name:</label>
      </div>
      <div class="col-control">
        <input id="new-therapist-full Name" formControlName="fullName"/>
      </div>
      <div class="col-alert"
           *ngIf="therapistForm.invalid && (therapistForm.get('fullName').dirty || therapistForm.get('fullName').touched)">
        <div *ngIf="therapistForm.get('fullName').hasError('required')">
          Therapist full name is required.
        </div>
        <div *ngIf="therapistForm.get('fullName').hasError('minlength')">
          Therapist full name must be at least 3 characters long.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-label">
        <label for="new-therapist-clinics">Clinics</label>
      </div>
      <div class="col-control">
        <select id="new-therapist-clinics" formControlName="clinicId">
          <option *ngFor="let clinic of clinics" [value]="clinic.id">{{clinic.title}}</option>
        </select>
      </div>
    </div>
    <input type="submit" value="Create therapist" [disabled]="therapistForm.invalid">
  </form>
</div>
